{% extends "pizzerias/base.html" %}

{% block content %}

<p>Name: {{ name }} </p>

<ul>

    {% for topping in toppings %}
    <li>
        <!--a vertical line (|) represents a template filter
            -a function that modifies the value i a template variable-->
        <p>{{ topping.date_added|date:'M d, Y H:i' }} </p>
        <!--The filter linebreaks ensures that long text entries include line breaks-->
        <p>{{ topping.text|linebreaks }} </p>

    </li>
    {% empty %}
    <!-- if the list is empty then display message-->
    <li>There are no toppings listed for this pizza yet.</li>
    {% endfor %}
</ul>

<p>
    <a href="{% url 'pizzerias:new_comment' name.id %}">Add new comment</a>
</p>

{% endblock content %}